<Configuration status="debug" name="advent_of_code_2022" packages="">
    <Root level="error">
        <AppenderRef ref="stdout"/>
    </Root>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
</Configuration>